* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}
input,
select,
button,
textarea {
    font-size: inherit;
    font-family: inherit;
}
/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.btn {
    --height: 58px;
    display: inline-block;
    min-width: 149px;
    height: var(--height);
    line-height: var(--height);
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 8px;
    background: #212832;
}
.btn:hover {
    opacity: 0.9;
}
.section-subtitle {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-bottom: 12px;
    color: #696d77;
    font-size: 1.6rem;
    line-height: 1.75;
}
.section-subtitle::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background: #696d77;
}
.section-heading {
    color: #212832;
    font-weight: 700;
}
.lv1 {
    font-size: 6rem;
    line-height: 1.17;
}
.lv2 {
    font-size: 4rem;
    line-height: 1.25;
}
.section-desc {
    margin-top: 20px;
    width: 470px;
    color: #696d76;
    font-size: 1.8rem;
    line-height: 1.67;
}

/* ============ Header =============== */
.header {
    padding: 42px 0;
}
.header__inner {
    display: flex;
    align-items: center;
}
.navbar__list {
    margin-left: 46px;
    display: flex;
}
.navbar__link {
    padding: 10px 24px;
    color: #696d76;
    font-size: 1.6rem;
    line-height: 1.75;
}
.navbar__link:hover,
.navbar__link--active {
    position: relative;
    color: #212832;
    text-shadow: 0 0 1px currentColor;
}
.navbar__link--active::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 24px;
    right: 24px;
    height: 1.5px;
    border-radius: 99px;
    background: #7264d6;
}
.header__cta-group {
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: 28px;
}
.header__cta-group__link {
    color: #212832;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}
.header__cta-group__btn {
    --height: 52px;
    min-width: 113px;
}
/* ============ Hero ============== */
.hero {
    padding-top: 34px;
}
.hero__inner {
    display: flex;
    column-gap: 168px;
}
/* Hero-content */
.hero__content {
    padding-top: 57px;
    width: 46%;
}
.hero__heading {
    width: 500px;
}
.hero__heading strong {
    color: #7264d6;
}
.hero__desc {
    width: 100%;
}
.subscribe-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    width: 100%;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 16px 42px 0 rgba(0, 0, 0, 0.07);
}
.subscribe-form__input {
    padding: 0 23px;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
}
.subscribe-form__input::placeholder {
    color: #696d76;
    font-size: 1.6rem;
    line-height: 1.75;
}
.subscribe-form__submit {
    --height: 58px;
    min-width: 149px;
    background: #7264d6;
    outline: none;
    border: none;
    cursor: pointer;
}
.hero__note {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
}
/* Hero-media */
.mobile-screen {
    position: relative;
    padding: 52px 11px 42px;
    width: 296px;
    height: 562px;
    border-radius: 40px;
    border: 12px solid #212832;
    background: #fff;
}
.mobile-screen::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 144px;
    height: 36px;
    border-radius: 0 0 18px 18px;
    background: #3c2f60;
}
.card {
    position: relative;
    z-index: 1;
    padding: 16px;
    width: 100%;
    height: 150px;
    border-radius: 20px;
    background: linear-gradient(76deg, #8477e3 11.52%, #7264d6 70.78%);
    overflow: hidden;
}
.card::before,
.card::after {
    position: absolute;
    z-index: -1;
}
.card::before {
    content: url(../icon/card_decor_small-02.svg);
    top: 0;
    left: 0;
}
.card::after {
    content: url(../icon/card_decor_small-03.svg);
    bottom: 0;
    right: 0;
}
.card__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 1.4rem;
}
.card__title::after {
    content: url(../icon/card_decor_small-01.svg);
}
.card__price {
    margin-top: 2px;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 700;
}
.card__row {
    display: flex;
    column-gap: 12px;
    margin-top: 32px;
}
.card__row span {
    color: #fff;
    font-size: 1rem;
}
.card__row + .card__row {
    margin-top: 5px;
}
.card__row + .card__row span {
    font-size: 1.2rem;
    font-weight: 600;
}
.mobile-screen__desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    color: #31456a;
    font-size: 1.6rem;
    font-weight: 600;
}
.mobile-screen__desc::after {
    content: url(../icon/card_decor_small-04.svg);
}

.mobile-screen-item {
    padding-top: 28px;
    display: flex;
    align-items: center;
    column-gap: 14px;
}
.mobile-screen-item__img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: #ebf6fa;
}
.mobile-screen-item:nth-child(2) .mobile-screen-item__img-wrap {
    background: #fbf0f0;
}
.mobile-screen-item:nth-child(3) .mobile-screen-item__img-wrap {
    background: #ecf5f4;
}
.mobile-screen-item:nth-child(4) .mobile-screen-item__img-wrap {
    background: #f1f0fb;
}
.mobile-screen-item__info {
    flex-grow: 1;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 6px;
    justify-content: space-between;
}
.mobile-screen-item__title {
    color: #212832;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}
.mobile-screen-item__desc,
.mobile-screen-item__date {
    color: #696d76;
    font-size: 1rem;
    line-height: 1;
}
.mobile-screen-item__date {
    text-align: right;
}
.mobile-screen-item__price {
    color: #212832;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}
.card-deposit {
    position: absolute;
    z-index: 1;
    top: 113px;
    left: -100px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    width: 174px;
    height: 46px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);
}
.card-deposit__desc {
    padding: 0 19px 0 8px;
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}
.card-deposit__price {
    color: #4ab5e3;
    font-size: 1.4rem;
    line-height: 1;
}
.card-interest {
    position: absolute;
    top: 127px;
    right: -174px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #da6464;
}
.card-interest__desc strong {
    display: block;
    font-size: 4.4rem;
    font-weight: 600;
}
.card-interest__desc {
    width: 64px;
    height: 71px;
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
}
.card-secured {
    position: absolute;
    top: 426px;
    right: -74px;
    display: flex;
    align-items: center;
    column-gap: 11px;
    padding: 20px 14px;
    width: 124px;
    height: 68px;
    border-radius: 10px;
    background: #439f90;
}
.card-secured__price {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}
.card-secured__desc {
    margin-top: 5px;
    color: #fff;
    font-size: 0.8rem;
    line-height: 1;
}

/* ============== Works =================== */
.works {
    margin-top: 100px;
    padding-top: 60px;
}
.works__inner {
    display: flex;
    align-items: center;
    column-gap: 130px;
}
/* Works-media */
.works__media {
    width: 49%;
}
.works__img-wrap {
    position: relative;
    width: 470px;
    height: 619px;
}

.works__img-wrap::before {
    content: url(../icon/hero__bg.svg);
    position: absolute;
    bottom: -2.2px;
    left: 0;
}
.works__img-wrap::after {
    content: url(../icon/card-logo.svg);
    position: absolute;
    top: 76px;
    right: 62px;
}
.works__img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.card__status {
    padding: 15px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    position: absolute;
    z-index: 1;
    bottom: 96px;
    right: -100px;
    width: 226px;
    height: 70px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0 14px 34px 0 rgba(0, 0, 0, 0.07);
}
.card__status-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background: #4ab5e3;
}
.card__status-icon {
    position: relative;
    z-index: 1;
}
.card__status-wrap::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #fff;
}
.card__status-info__heading {
    color: #212832;
    font-size: 1.4rem;
    font-weight: 600;
}
.card__status-info__desc {
    margin-top: 5px;
    color: #696d76;
    font-size: 1.2rem;
}
/* Works-content */
.works__list {
    margin-top: 70px;
    width: 470px;
    counter-reset: heading;
}
.works-item + .works-item {
    margin-top: 30px;
}
.works-item__heading {
    color: #212832;
    font-family: "Open Sans";
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;
    counter-increment: heading;
}
.works-item__heading::before {
    content: counter(heading) ". ";
}
.works-item__desc {
    margin-top: 16px;
    color: #696d76;
    font-size: 1.6rem;
    line-height: 1.75;
}
/* ============== Payment ============= */
.payment {
    margin-top: 100px;
    padding-top: 60px;
}
.payment__inner {
    display: flex;
    align-items: center;
    column-gap: 130px;
}
/* Payment-content */
.payment__content {
    width: 40%;
}
.payment__list {
    margin-top: 28px;
}
.payment-item {
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}
.payment-item::before {
    content: "";
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #7264d6;
}
.payment-item + .payment-item {
    margin-top: 18px;
}
.payment__btn {
    margin-top: 38px;
}
/* Payment-media */
.payment__media {
    position: relative;
}
.card-payment {
    padding: 38px;
    width: 482px;
    height: 322px;
}
.card-payment::before {
    content: url(../icon/card_decor_large-02.svg);
}
.card-payment::after {
    content: url(../icon/card_decor_large-03.svg);
}
.card-payment__title {
    font-size: 2.4rem;
}
.card-payment__title::after {
    content: url(../icon/card_decor_large-01.svg);
}
.card-payment__price {
    font-size: 3.2rem;
}
.card-payment__row {
    padding-top: 80px;
    column-gap: 26px;
}
.card-payment__row span {
    font-size: 2rem;
}
.card-payment__row + .card-payment__row span {
    font-size: 2.2rem;
}
.card-payment__row + .card-payment__row {
    padding-top: 4px;
}
.send-money {
    padding: 23px 13px;
    display: flex;
    column-gap: 14px;
    position: absolute;
    z-index: 1;
    left: 294px;
    top: -48px;
    width: 276px;
    height: 86px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 14px 38px 0 rgba(0, 0, 0, 0.07);
}
.send-money__img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: #fbf0f0;
}
.send-money__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.send-money__title {
    color: #212832;
    font-size: 1.6rem;
    font-weight: 600;
}
.send-money__date,
.send-money__desc {
    color: #696d76;
    font-size: 1rem;
}
.send-money__date,
.send-money__price {
    text-align: right;
}
.send-money__price {
    color: #212832;
    font-size: 1.6rem;
    font-weight: 500;
}
.income {
    position: absolute;
    z-index: 1;
    bottom: -54px;
    right: -88px;
}
.income__inner {
    padding: 15px;
    width: 120px;
    height: 120px;
    border-radius: 16px;
    background: #439f90;
}
.income__icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: #ffffff;
}
.income__desc {
    margin-top: 14px;
    color: #fff;
    font-size: 1.4rem;
}
.income__price {
    margin-top: 6px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}
